/* adding variables for repeat colors */
:root {
    --button: blueviolet;
    --hover: rgb(113, 24, 113);
}

/* setting font family for all */
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Positioning highscore to top left of screen */
#high-score-button {
    position: fixed;
    left: 5px;
    top: 2px;
    padding: 5px;
}

/* Positioning timer to top left of screen */
#timer {
    position: fixed;
    right: 5px;
    top: 2px; 
    padding: 5px;
}

/* positioning sections of each question and main page */
.pages {
    margin: 8% auto;
    width: 50%;
    text-align:center;
}

/* Positioning start button */
#start {
    margin: 0 auto;
}

/* justifying question text */
h2 {
    text-align: justify;
}

/* styling buttons */
button {
    display:block;
    border-radius: 5px;
    background-color: var(--button);
    color:  white;
}

/* styling hover of buttons */
button:hover {
    background-color: var(--hover);
}

/* Styling highscore button */
#high-score-button {
    background: transparent;
    color: black;
    border-color: transparent;
}

/* styling highscore hover */
#high-score-button:hover {
    border-color: var(--button);
    color:var(--button);
}

/* styling final score text */
#final-score {
    text-align: left;
}

/* styling div to have enter enitials, textarea and button on same line on quiz end page */
#enter-initials {
    display:flex;
    position:relative;
}

/* setting text text area and button on quiz end page to be relative to move elements for better styling */
#enter-inst, 
textarea,
#submit {
    position:relative; 
}

/* styling textarea on quiz end page*/
textarea {
    height: 20px;
    top: 10px 
}

/* styling submit button on quiz end page */
#submit {
    height:25px;
    top: 12px;
}

/* styling results shown */
.result {
    margin: auto;
    border-top:5px double darkgray;
    width: 50%;
    text-align:center;
    font-size: 25px;
}